html {
  border-left: 5px solid lightgray;
}

body {
  min-height: 100vh;
  font-family: sans-serif;
  max-width: 1000px;
  margin: 0 auto;
}


header,
main,
footer {
  padding: 1rem 2rem;
}


h1 {
  color: tomato;
}


img {
  width: 100%;
}


.nav ul {
  padding: 0;
  list-style-type: none;
  display: flex;
}

.nav-top ul {
  justify-content: space-between;
}

.nav-top a {
  color: lightgray;
  text-decoration: none;
}

.nav-footer ul {
  justify-content: space-between;
}

.nav-footer a {
  color: tomato;
  text-decoration: none;
}

article h2 {
  font-size: 2rem;
}

.continues {
  display: block;
  text-align: right;
  font-weight: bold;
  color: tomato;
  text-decoration: none;
}

article {
  margin-bottom: 4rem;
  border-bottom: 1px solid lightgray;
  padding-bottom: 2rem;
}

article p::first-letter {
  font-size: 3rem;
  float: left;
  margin-right: 0.5rem;
  color: lightgray;
}

.copyright {
  color: lightgray;
}